<h2>event-binding works!</h2>

<section>
    <button mat-flat-button color="warn" (click)="inc()"> {{ buttonName }}</button>
</section>

<section>
    <button mat-flat-button color="accent" [disabled]="!btnEnable"> Button 1</button>
    <button mat-flat-button color="accent" [disabled]="!btnEnable"> Button 2 </button>
    
    <button mat-flat-button 
        color="warn" 
        (click)="disable()"> Desativar buttons 
    </button>

    <mat-spinner
        color="warn"
        [mode]="spinnerMode"
        value="0">
    </mat-spinner>
</section>

<section>
    <p>
        <mat-checkbox color="warn" (change)="cbChange($event)"> Disable / Enable </mat-checkbox>
    </p>
    
    <p>
        <mat-card>
        <mat-card-header>
            <h4> select nativo para estudo </h4>
        </mat-card-header>
        <mat-card-content>    
            <mat-form-field>
            <mat-label>Cars</mat-label>
              <mat-select 
                matNativeControl 
                required
                [disabled]="selectDisabled"
                (selectionChange)="selectionChange($event)">

                <mat-option value="1">Volvo</mat-option>
                <mat-option value="2">Saab</mat-option>
                <mat-option value="3">Mercedes</mat-option>
                <mat-option value="4">Audi</mat-option>
              </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <p> Opcao do select é {{selectedOption}}</p>
        </mat-card-actions>
        </mat-card>
    </p>
</section>

<hr />

<section>
    <p>
        <mat-card>
        <mat-card-header>
            <h4> select nativo para estudo </h4>
        </mat-card-header>
        <mat-card-content>    
            <mat-form-field>
                <input matInput placeholder="Entre com texto" 
                    (input)="inputName = $event.target.value"
                    [value]="inputName">
              </mat-form-field>
         </mat-card-content>
        <mat-card-actions>
            <p> {{inputName }} Mudando de forma dinamica - two way data binding</p>
        </mat-card-actions>
        </mat-card>
    </p>
</section>